<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График сообщений</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">График сообщений</h1>
        <div id="chart"></div>
        <script>
            let graphData = {{ graphJSON|safe }};
            Plotly.newPlot('chart', graphData.data, graphData.layout);
        </script>
        <a href="/" class="btn btn-primary mt-3">На главную</a>
    </div>
</body>
</html>
